<div class="uk-side">
	<ul class="uk-nav uk-nav-default uk-list uk-list-large">
		<div class="uk-panel">
			<ul class="uk-nav">
				<li>
					<%= link_to 'Dashboards', authenticated_root_path %>
				</li>
				<li>
					<%= link_to 'Events', events_path %>
				</li>
				<li>
					<%= link_to 'Experiences', '#' %>
				</li>
				<li>
					<%= link_to 'Transactions', '#' %>
				</li>
				<li>
					<%= link_to 'Vouchers', '#' %>
				</li>
				<li>
					<%= link_to 'Reports', '#' %>
				</li>
				<li>
					<%= link_to 'Partners', '#' %>
				</li>
				<li>
					<%= link_to 'Categories', '#' %>
				</li>
				<li>
					<%= link_to 'Localities', localities_path %>
				</li>
				<li>
					<%= link_to 'Audit Trail', '#' %>
				</li>
				<li>
					<%= link_to 'Administrators', users_path %>
				</li>
			</ul>
		</div>
  </ul>
</div>